/*Основная страница и стили, общие для всех страниц*/
html,
body {
  min-width: 1280px;
}

body {
  margin: 0;
  padding: 0;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f1f1f1;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.page-header-nav {
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.nav-menu {
  display: flex;
  padding: 18px 72px;
  list-style: none;
  margin: 0;
}

.nav-menu li:nth-child(1) {
  margin-right: 147px;
}

.nav-menu li:nth-child(2) {
  margin-right: 388px;
}

.nav-menu li:nth-child(3) {
  margin-right: 162px;
}

.nav-menu a {
  color: #000000;
}

.nav-menu a:hover {
  color: #81b3d2;
}

.nav-menu a:active {
  color: rgba(0,0,0,0.3);
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header-background {
  display: flex;
  flex-direction: column;
   background: url(../img/background-index.jpg) no-repeat 50% 21%, url(../img/background-index-bottom.png) no-repeat center center;
  width: 1200px;
  height: 508px;
}
 
.main-header-text-primary {
  align-self: center;
  margin-top: 76px;
}

.main-header-text-additional {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  margin-top: 58px;
  padding: 0;
  text-align: center;
}

.advantages-header-text {
  display: block;
  line-height: 26px;
  text-align: center;
  margin-top: 29px;
  margin-bottom: 54px;
  padding: 0;
}


.advantages p {
  color: #333333;
}

.advantages h3,
.advantages h4 {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantage-life,
.advantage-bridge,
.advantage-items {
  text-align: center;
}

.advantage-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantage-item,
.details-residence, 
.details-food,
.details-souvenirs,
 {
  width: 400px;
  margin: 0;
  padding: 0;
}

.advantage-item h3 {
  margin: 0;
  margin-top: 48px;
  width: 151px;
}

.advantage-item p:nth-of-type(1) {
  margin: 0;
  margin-top: 26px;
}

.advantage-item p:nth-of-type(2) {
  margin-left: 49px;
  margin-right: 49px;
  margin-top: 22px;
  margin-bottom: 62px;   
}

.advantage-text-and-photo {
  display: flex;
  align-items: center;
  height: 256px;
  overflow: hidden;

}

.advantage-text-and-photo h3,
.advantage-text-and-photo p {
  color: #ffffff;
}

.advantage-text-and-photo {
  background-color: #81b3d1;
}

.advantage-life-details-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantage-life-details-list h4 {
  margin: 0;
  margin-top: 162px;
}

.advantage-life-details-list p {
  margin: 0;
  margin-top: 24px;
  margin-bottom: 78px;
  padding: 0 50px;
}


.advantage-items {
  display: flex;
  background-color: #eeeeee;
}

.advantage-item-other:nth-child(1) p:nth-of-type(2),
.advantage-item-other:nth-child(3) p:nth-of-type(2){
  padding-left: 40px;
  padding-right: 40px; 
}

.advantage-item-other:nth-child(2) p:nth-of-type(2){
  margin-left: 20px;
  margin-right: 20px;
}

.hotel-search,
.hotel-search-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.search-text1 {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-top: 56px;
}

.search-text2 {
  line-height: 24px;
  margin-top: 29px;
  margin-bottom: 41px;
  color: #333333;
}

.button {
  text-transform: uppercase;
  font-weight: 700;
}

.search-open-button {
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  padding: 28px 0;
  color: #ffffff;
  background-color: #756357;
  border: none;
}

.search-open-button:hover {
  background-color: #604e43;
}

.search-open-button:active {
  color: rgb(255,255,255,0.3);
  background-color: #503d32;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-weight: 700;
  line-height: 26px;
  width: 458px;
  padding: 55px 0;
}

.search-form input {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-transform: inherit;
  height: 38px;
  background-color: #f1f1f1;
  border: none;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
}

.search-item:nth-child(1),
.search-item:nth-child(2)  {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
}

.search-item:nth-child(1) label,
.search-item:nth-child(2) label, {
  padding: 0;
  margin: 0;
}

.search-item:nth-child(1) input,
.search-item:nth-child(2) input {
    width: 346px;
    padding-left: 13px;
    box-sizing: border-box;
}

.search-item:nth-child(3)  {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
  margin-bottom: 54px;
}

.search-item:nth-child(3) input {
    width: 38px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.search-item-count {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.search-item-count:nth-child(1) label {
  margin-right: 40px;
}

.search-item-count:nth-child(2) label {
  margin-right: 28px;
}

.button-count {
  color: #a9a9a9;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  height: 38px;
  width: 38px;
  border: none;
}

.button-count:hover {
  color: #000000;
}

.button-count:active {
  color: #81b3d2
}

.search-send-button {
  font-size: 21px;
  line-height: 26px;
  width: 458px;
  padding: 17px 0;
  color: #ffffff;
  background-color: #81b3d1;
  border: none;
}

.search-send-button:hover {
  background-color: #669dc0;
}

.search-send-button:active {
  color: rgba(255,255,255,0.3);
  background-color: #5495bd;
}

.page-footer {
  line-height: 26px;
  background-color: rgba(255,255,255,0.9);
}

.page-footer-hashtag {    
  margin: 0;
  font-size: 21px;
  font-weight: 700;
}

.page-footer-social {
  list-style: none;
}

.social-link {
  font-weight: 700;
  color: #000000;
}


/*Страница каталога*/

.search-filters {
  background: url(../img/background-catalog.jpg) no-repeat;
}

.nav-menu-current a {
  color: #766357;
}

.filter-form {
  color: #ffffff;
}

.filter-form legend{
  font-size: 16px;
  font-weight: bold;
}

.filter-form ul {
  list-style: none;
}

.search-button {
  font-weight: 400;
  color: #ffffff;
  background-color: rgba(0,0,0,0);
}

.search-button:hover {
  color: #000000;
  background-color: #ffffff;
}

.result-header-count {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.result-header-sort {
  font-size: 12px;
  line-height: 18px;
}

.sort-list {
  list-style: none;
}

.sort-list a {
  color: rgba(0,0,0,0.3); 
} 

.sort-list-current a {
  color: #81b3d2;
}

.sort-list a:hover {
  color: #81b3d2; 
} 

.sort-list a:active {
  color: #000000; 
} 

.sort-order a {
  color: #000000;
}

.result-list {
  list-style: none;
}

.result-item-name {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.result-item-name:hover {
  color: #81b3d2;
}

.result-item-name:active {
  color: rgba(0,0,0,0.3);
}

.result-details {
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}

.result-details:hover {
  background-color: #669dc0;
}

.result-details:active {
  color: rgba(255,255,255,0.3);
  background-color: #5495bd;
}

.result-booking {
  font-weight: 700;
  color: #ffffff;
  background-color: #756357;
}

.result-booking:hover {
  background-color: #604e43;
}

.result-booking:active {
  color: rgba(255,255,255,0.3);
  background-color: #503d32;
}

.result-item-rating p {
  color: #666666;
  background-color: #f1f1f1;
}
